body {
  background: #eceff4;
  color: #4c566a;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left: 10%;
  margin-right: 10%;
}

.navbar {
  position: sticky;
  top: 0;
  font-size: 1.1rem;
  padding: 0.2rem;
  background: #b48ead;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  width: 100%;
  text-align: center;
  display: inline;
}

.navbar_element {
  display: inline-block;
}

button {
  width: 100%;
  font-weight: bold;
  background: rgba(0, 0, 0, 0);
  border: none;
  color: #2e3440;
  text-decoration: none;
}

button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 3em;
  border-bottom: 0.5rem solid #b48ead;
  padding-right: 2rem;
  width: fit-content;
}

.section {
  font-size: 1.7rem;
  border-bottom: 0.5rem solid #b48ead;
  padding-right: 2rem;
  width: fit-content;
}

.work_section * {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.work_section {
  margin-bottom: 1rem;
}

.content {
  font-size: 1.3em;
}

.link {
  color: #d08770;
}

.hl {
  color: #5e81ac;
}

.license {
  font-size: 0.9rem;
  color: #5e81ac;
  margin-top: -0.8rem;
}
